
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<h2>Receptor de eventos</h2>-->
    <h2>Estamos en el curso [[course]]</h2>
    <h2>Del año [[year]]</h2>

    <input type="text" value={{course::input}}></input>

    </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class ReceptorEvento extends Polymer.Element {
     static get is() { return 'receptor-evento'; }
     static get properties() {
       return {
          course: {
            type: String,
            observer:'_courseChanged'
          },
          year: {
            type:Number
          }
       };
     }

     _courseChanged(newValue, oldValue)
     {
       console.log("Course value has changed");
       console.log("Old value was"+oldValue);
       console.log("New value was"+newValue);
     }
}
   window.customElements.define(ReceptorEvento.is, ReceptorEvento);
 </script>
</dom-module>
