
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <h2> Lista de cuentas </h2>
   </br>
     <template is="dom-repeat" items="{{accounts}}">
       <div>Cuenta: <span>{{item.IBAN}}</span></div>
       <div>Saldo: <span>{{item.balance}}</span></div>
     </br>
     </template>

   <iron-ajax
     auto
     id="getAccounts"
     url="http://localhost:3000/apitechu/v1/users/{{id}}/accounts"
     handle-as="json"
     on-response="showData">
   </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisiorCuentas extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {
         iban: {
           type: String
         },
         balance: {
           type: Number
         },
         id: {
           type:Number
         },
         accounts: {
           type: Array
         }
       };
     }

   showData (data){
     console.log("showData");
     console.log(data.detail.response);
     this.accounts = data.detail.response;
     //this.balance=data.detail.response[0].balance;
     //this.iban=data.detail.response[0].IBAN;

   }
}
   window.customElements.define(VisiorCuentas.is, VisiorCuentas);
 </script>
</dom-module>
