
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="login-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <input type="email" value="{{email::input}}"></input>
   <input type="password" value="{{password::input}}"></input>
    <button class="btn btn-success" on-click="login"> Login </button>
    <span hidden$="{{!logged}}">Bienvenido de nuevo<span>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/apitechu/v2/login"
     method="POST"
     handle-as="json"
     content-type=application/json
     on-response="manageAJAXResponse"
     on-error="showError"
     >
   </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         },
         password: {
           type: String
         },
         id: {
           type:Number
         },
         logged: {
           type:Boolean,
           value:false
         }
       };
     }

   manageAJAXResponse (data){
     console.log("manageAJAXResponse");
     console.log(data.detail.response);
     this.logged=true;
     window.location="user/"+data.detail.response.userId;
    }

    login() {
      console.log("El usuario a pulsado el botón");
      this.logged=false;
      var loginData = {
        "email": this.email,
        "password": this.password

      }
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      console.log("Enviando petición");
    }

    showError() {
      console.log("Hubo un error");
      console.log("error");
    }
}
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
