atmo
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-usuario">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <h2>Soy [[first_name]] [[last_name]]</h2>
   <h3>y mi email es [[email]] años</h3>
   <button class="btn btn-link"><a href="/user/{{id}}/accounts">Cuentas</a> </button>
   <iron-ajax
     auto
     id="getUser"
     url="http://localhost:3000/apitechu/v2/users/{{id}}"
     handle-as="json"
     on-response="showData">
   </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisionUsuario extends Polymer.Element {
     static get is() { return 'visor-usuario'; }
     static get properties() {
       return {
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         age: {
           type: Number
         },
         id: {
           type:Number
         }
       };
     }

   showData (data){
     console.log("showData");
     console.log(data.detail.response);
     this.first_name=data.detail.response.first_name;
     this.last_name=data.detail.response.last_name;
     this.email=data.detail.response.email;
   }
}
   window.customElements.define(VisionUsuario.is, VisionUsuario);
 </script>
</dom-module>
